{% assign technology = site.data.data.sidebar.skills %} {% if technology %}
<section class="section projects-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ technology.title }}
  </h2>

  {% for tech in technology.info %}
  <div class="item">
    <div class="meta">
      <h3 class="job-title">{{ tech.idiom }}:</h3>
    </div>

    <div class="details">{{ tech.level }}</div>
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %}
